<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_study">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_study</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_study" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springMVC_study/web/Web" />
    </root>
  </artifact>
</component>